header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  justify-content: space-between;
  background: #070024;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;

  img {
    width: 50px;
  }

  .navbar__logo {
    border: 2px solid #149651;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3em;
    color: #fff;

    span {
      font-weight: bold;
      font-size: 2em;
    }

    &:hover {
      cursor: pointer;
      color: #149651;
      border: 2px solid #fff;
    }
  }

  ul {
    display: flex;

    li {
      padding: 1em;

      &:hover {
        border-bottom: 1px solid #149651;
        transform: translateY(-2px);
      }
    }

    li p {
      padding: 0 1em;
    }
  }

  .navbar__button {
    text-align: center;
    padding: 1em 0;
    width: 10em;
    border: 2px solid #149651;

    &:hover {
      color: #149651;
      border: 2px solid #fff;
      cursor: pointer;
    }
  }
}

.header__container {
  text-align: center;
  padding: 1em;
  width: 50%;
  margin: auto;
  margin-bottom: 5em;
}
