
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;700&display=swap');

$ACCENT_DARK: '#070024';
$ACCENT_BLUE: '#181c4b';
$ACCENT_TEAL: '#12375a';
$DARK_GREEN: '#166963';
$LIGHT_GREEN: '#149651';